

//Breakpoints
$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px,
);

$grid-width: (
xs: 360px,
sm: 520px,
md: 720px,
lg: 880px,
xl: 1120px,
xxl: 1200px,
);



//Colors
$primary-color: #FFBF69;
$strong-primary-color: #FF9F1C;
$light-primary-color: #edac51;
$superlight-primary-color: #f9cf93;
$secondary-color: #2EC4B6;
$strong-secondary-color: #12a697;
$light-secondary-color: #CBF3F0;

$black-color: #111;
$white-color: #e4e0e0;

$success-color: #03a503;
$danger-color: #c00505;
$warning-color: #e2b12b;

//Layout
$body-bg-color: $light-secondary-color;
$navbar-bg-color: $strong-secondary-color;

//Grid
$grid-columns: 12;

//Spacings
$spacings: (
    m: margin,
    mt: margin-top,
    mb: margin-bottom,
    ml: margin-left,
    mr: margin-right,
    p: padding,
    pt: padding-top,
    pb: padding-bottom,
    pl: padding-left,
    pr: padding-right,
);
